.grid {
	display: grid;
	position: fixed;
	grid-template-columns: repeat(50, 1fr);
	grid-template-rows: repeat(50, 1fr);
	background-color: white;
	width: 100vw;
	height: 100vw;
}
.skier {
	background-color: black;
}
.tree {
	background-color: green;
}
.rock {
	background-color: grey;
}
